In [5]:
import pandas as pd

In [122]:
df = pd.read_csv('results.csv')

aapl = pd.read_csv(r"C:\Users\isaac\Downloads\data\AAPL.csv")
goog = pd.read_csv(r"C:\Users\isaac\Downloads\data\GOOG.csv")

In [125]:
df['AAPL'] = aapl['close']
# df['GOOG'] = goog['close']
A = -df['AAPL_long'] - df['AAPL_cover'] + df['AAPL_sell'] + df['AAPL_short']

# G = -df['GOOG_long'] - df['GOOG_cover'] + df['GOOG_sell'] + df['GOOG_short']


df['VALUE'] = A.cumsum()*df['AAPL'] + df['balance']
df['VALUE'] = df['VALUE']

In [126]:
df

,Unnamed: 0,balance,AAPL_long,AAPL_sell,AAPL_short,AAPL_cover,AAPL,VALUE
0,1970-01-01 00:00:00.000000000,730.593209,0.0,0.0,2.0,0.0,136.127789,1002.848787
1,1970-01-01 00:00:00.000000001,461.071520,0.0,0.0,2.0,0.0,136.112492,1005.521489
2,1970-01-01 00:00:00.000000002,191.559601,0.0,0.0,2.0,0.0,136.131934,1008.351206
3,1970-01-01 00:00:00.000000003,455.661546,0.0,0.0,0.0,2.0,136.112196,1000.110331
4,1970-01-01 00:00:00.000000004,186.159397,0.0,0.0,2.0,0.0,136.082589,1002.654934
...,...,...,...,...,...,...,...,...
682565,1970-01-01 00:00:00.000682565,227.086603,0.0,0.0,0.0,0.0,124.510000,227.086603
682566,1970-01-01 00:00:00.000682566,227.086603,0.0,0.0,0.0,0.0,124.640000,227.086603
682567,1970-01-01 00:00:00.000682567,227.086603,0.0,0.0,0.0,0.0,124.600000,227.086603
682568,1970-01-01 00:00:00.000682568,227.086603,0.0,0.0,0.0,0.0,124.630000,227.086603
682569,1970-01-01 00:00:00.000682569,227.086603,0.0,0.0,0.0,0.0,124.660000,227.086603

In [19]:
df.to_csv('results_test.csv')

In [128]:
df['AAPL_D'] = 1000*df['AAPL']/df['AAPL'][0]
# df['GOOG_D'] = 1000*df['GOOG']/df['GOOG'][0]
df.plot( y=['VALUE'])

KeyError: "None of [Index(['PROFIT_CUMSUM'], dtype='object')] are in the [columns]"